@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");
.home_container {
  background-image: url("/src/assets/Rectangle3.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  height: 100vh;
  width: 100vw;
  font-family: "Inter", sans-serif;
}
.home_page {
  max-width: 50vw;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 2%;
  border: 1px solid red;
}
.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  background: rgba(28, 22, 47, 0.2);
  backdrop-filter: blur(12px);
  padding: 1% 6%;
}
.header:hover {
  cursor: pointer;
}
.gradient1 {
  position: absolute;
  width: 261px;
  height: 240px;
  left: 306px;
  top: -21px;

  background: #bf51c6;
  filter: blur(100px);
}
.gradient2 {
  position: absolute;
  width: 161px;
  height: 140px;
  left: 482px;
  top: -21px;

  background: #bf51c6;
  filter: blur(100px);
}
.gradient3 {
  position: absolute;
  width: 161px;
  height: 140px;
  left: 661px;
  top: -21px;
  background: rgba(254, 95, 134, 0.72);
  filter: blur(100px);
}
.gradient4 {
  position: absolute;
  width: 161px;
  height: 140px;
  left: 850px;
  top: -21px;
  background: #4d65fe;
  filter: blur(100px);
}
.details {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.details h3 {
  background: linear-gradient(
    259.84deg,
    #fe5f86 3.17%,
    #bf51c6 49.8%,
    #4d65fe 98.42%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-decoration: underline 5px;
}
.details ul {
  padding: 3%;
  margin-left: 4%;
  display: flex;
  flex-direction: row;
}
.details ul li {
  text-decoration: none;
  list-style: none;
  margin-right: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-right: 20px;
}

.details ul li:nth-child(1) {
  background: linear-gradient(
    259.84deg,
    #fe5f86 3.17%,
    #bf51c6 49.8%,
    #4d65fe 98.42%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.socials ul {
  padding: 2%;
  display: flex;
  flex-direction: row;
}
.socials ul li {
  list-style: none;
  padding-left: 20px;
}
.socials ul li a {
  color: #fff;
}
.about {
  display: flex;
  flex-direction: column;
}
.profile {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
}
.profile img {
  height: 100px;
  width: 100px;
  padding-right: 25px;
}
.profile_detail {
  padding-top: 20px;
}
.profile_detail p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 12px;
  color: #ffffff;
}
.profile_detail i {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #767171;
}
.profile_details {
  text-align: left;
  margin: 15px;
}
.featured {
  width: 100%;
}
.featured h3 {
  text-align: left;
  padding: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #767171;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card {
  background: linear-gradient(
    211.92deg,
    #010311 3.39%,
    #081777 3.4%,
    #37023a 97.43%
  );
  border-radius: 12px;
  margin: 10px;
  width: 11vw;
  height: 22vh;
}
.card img {
  height: 10vh;
  width: 5vw;
  margin: 20px;
}
